<h1><b>Productos</b></h1>
<div class="pro-container">
    <div class="carousel-container">
      <!-- Botón para retroceder -->
      <button class="carousel-button left" (click)="prevSlide()">&#8249;</button>
      
      <!-- Carrusel con las tarjetas -->
      <div class="carousel" [style.transform]="'translateX(' + offset + 'px)'">
        <div class="card" *ngFor="let tarjeta of tarjetas">
          <img [src]="tarjeta.imagen" [alt]="tarjeta.alt">
          <div class="info">
            <div><b>{{ tarjeta.titulo }}</b></div>
            <div>{{ tarjeta.descripcion }}</div>
            <div> <button class="edit-button"> Editar</button></div>
            <div> <button class="delete-button"> Eliminar</button></div>
          </div>
        </div>
        <div class="card">
            <img src="../../../assets/images/agregar.png" alt="Agregar tarjeta">
          <div class="info">
            <div><b>Agregar una nueva tarjeta de Centauro Bank</b></div>
            <br>
          </div>
            <button class="edit-button">Agregar</button>
        </div>
      </div>
  
      <!-- Botón para avanzar -->
      <button class="carousel-button right" (click)="nextSlide()">&#8250;</button>
</div>
</div>
  