<div class="form-container">
    <h1>{{ 'SHIPPING REQUEST' | translate }}</h1>
    <p>{{ 'ALREADY ENABLED' | translate }} </p>
    <br>
    <select name="producto" class="form-select">
      <option value="Tarjeta de Crédito">----------</option>
      <option value="Otro Producto">{{ 'CREDIT CARD' | translate }}</option>
    </select>
    <br>
    <p>{{ 'SHIPPING INFO' | translate }}</p>
  
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-column">
          <label for="nombres">{{ 'FULL NAME'| translate }}</label>
          <input
            id="nombres"
            type="text"
            formControlName="nombres"
            placeholder="Ingrese sus nombres"
          />
  
          <label for="correo">{{ 'MAIL' | translate }}</label>
          <input
            id="correo"
            type="email"
            formControlName="correo"
            placeholder="ejemplo@correo.com"
          />
          <label for="nombreEnvio">{{ 'WHO SHIPPING' | translate }}</label>
          <input id="nombreEnvio" type="text" formControlName="nombreEnvio" multiple />
  
        </div>
  
        <div class="form-column">

          <label for="documento">{{ 'DOCUMENT NUMBER' | translate }}</label>
          <input id="docuemnto" type="number" formControlName="documento" />
  
          
  
          <label for="celular">{{ 'PHONE USER' | translate }}</label>
          <input id="celular" type="tel" formControlName="celular" />
  
          <label for="direccion">{{ 'ADDRESS' | translate }}</label>
          <input id="direccion" type="text" formControlName="direccion" multiple />
          <br>
        </div>
      </div>
  
      <div class="form-buttons">
        <button type="submit" [disabled]="solicitudForm.invalid">{{ 'SUBMIT' | translate }}</button>
        <button type="button" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
  