
<div class="reset-password-container">
    <h2>¿Olvidaste la contraseña?</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <label for="email">Digite su Correo</label>
      <input
        id="email"
        type="email"
        placeholder="Correo"
        formControlName="email"
        required
      />
      <div class="button-group">
        <button clastype="button" (click)="goBack()">Volver</button>
        <button clastype="submit" [disabled]="resetPasswordForm.invalid">Enviar</button>
      </div>
    </form>
  </div>
  