
<div class="reset-password-container">
    <h2>{{ 'FORGOT PASSWORD' | translate }}?</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">
      <label for="email">{{ 'ENTER EMAIL' | translate }}</label>
      <input
        id="email"
        type="email"
        placeholder="Correo"
        formControlName="email"
        required
      />
      <div class="button-group">
        <button clastype="button" (click)="goBack()">{{ 'BACK' | translate }}</button>
        <button clastype="submit" [disabled]="resetPasswordForm.invalid">{{ 'SUBMIT' | translate }}</button>
      </div>
    </form>
  </div>
  