<div class="pro-container">
    <h1><b>Productos</b></h1>
    <div class="row">
        <div class="col card">
            <img src="../../../assets/images/blue.png" alt="">
            <div class="info">
                <div><b>Tarjeta Debito de Centauro Bank</b></div>
                <br>
                <div><b>Pagos más ágiles, seguros, cómodos y sin costos adicionales.</b></div>
            </div>
        </div>
        <div class="col card">
            <img src="../../../assets/images/balck.png" alt="">
            <div class="info">
                <div><b>Tarjeta Black Debito de Centauro Bank</b></div>
                <br>
                <div><b>Practicidad en el pago y exclusividad para los usuarios de Centauro Bank</b></div>
            </div>
        </div>
        <div class="col card">
            <img src="../../../assets/images/green.png" alt="">
            <div class="info">
                <div><b>Tarjeta Debito de Centauro Bank con funcionalidad de Transporte</b></div>
                <br>
                <div><b>Con la Tarjeta Débito con funcionalidad de Transporte ingresas al transporte masivo.</b></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col card">
            <img src="../../../assets/images/gold.png" alt="">
            <div class="info">
                <div><b>Tarjeta Debito de Centauro Bank</b></div>
                <br>
                <div><b>Esta tarjeta es para los menores de edad de 13-17 años para que aprendas y ahorres.</b></div>
            </div>
        </div>
        <div class="col card">
            <img src="../../../assets/images/red.png" alt="">
            <div class="info">
                <div><b>Tarjeta Debito de Centauro Bank</b></div>
                <br>
                <div><b>Pagos más ágiles, seguros, cómodos y sin costos adicionales.</b></div>
            </div>
        </div>
        <div class="col card">
            <img src="../../../assets/images/orange.png" alt="">
            <div class="info">
                <div><b>Tarjeta Debito de Centauro Bank</b></div>
                <br>
                <div><b>Pagos más ágiles, seguros, cómodos y sin costos adicionales.</b></div>
            </div>
        </div>
    </div>
</div>