<h1><b>{{ 'PRODUCTS' | translate }}</b></h1>
<div class="pro-container">
    <div class="carousel-container">
      <!-- Botón para retroceder -->
      <button class="carousel-button left" (click)="prevSlide()">&#8249;</button>
      
      <!-- Carrusel con las tarjetas -->
      <div class="carousel" [style.transform]="'translateX(' + offset + 'px)'">
        <div class="card" *ngFor="let tarjeta of tarjetas">
          <img [src]="tarjeta.imagen" [alt]="tarjeta.alt">
          <div class="info">
            <div><b>{{ tarjeta.titulo }}</b></div>
            <div>{{ tarjeta.descripcion }}</div>
          </div>
        </div>
      </div>
  
      <!-- Botón para avanzar -->
      <button class="carousel-button right" (click)="nextSlide()">&#8250;</button>
    </div>
  </div>
  