<div class="header">
    <div class="row">
        <div class="col-3">
            <div class="logo">
                <div class="image-container">
                    <img (click)="goHome()" src="../../../assets/images/logo.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="col menu-h">
            <div>
                <mat-toolbar color="transparent" class="custom-toolbar">
                    <mat-toolbar-row>
                        <nav *ngIf="!adminLoged() && !userLoged()">
                            <a mat-button (click)="goHome()">{{ 'HOME' | translate }}</a>
                            <a mat-button (click)="goProducts()">{{'PRODUCTS' | translate}}</a>
                            <a mat-button (click)="goContact()">{{ 'CONTACT_US' | translate }}</a>
                        </nav>
                        <nav *ngIf="userLoged()">
                            <a mat-button (click)="goUser()">{{ 'HOME' | translate }}</a>
                            <a mat-button (click)="goRequest()">{{ 'REQUEST_PRODUCTS' | translate }}</a> 
                            <a mat-button (click)="goMovements()">{{ 'MOVEMENTS' | translate }}</a>
                            <a mat-button (click)="goRequestShipping()">{{ 'REQUEST_SHIPPING' | translate }}</a>
                        </nav>
                        <nav *ngIf="adminLoged()">
                            <a mat-button (click)="goHome()">{{ 'HOME' | translate }}</a>
                            <a mat-button class="text-center" (click)="goManage()">{{ 'MANAGE_PRODUCTS' | translate }}</a>
                            <a mat-button class="text-center" (click)="goManageUsers()">{{ 'MANAGE_USERS' | translate }}</a>
                            <a mat-button class="text-center" (click)="goRequests()">{{ 'REQUEST_LIST' | translate }}</a>
                            <a mat-button class="text-center" (click)="goControlPanel()">{{ 'CONTROL_PANEL' | translate }}</a>
                            <a mat-button class="text-center" (click)="goAdminProducts()">{{ 'PRODUCTS LIST' | translate }}</a>

                        </nav>
                    </mat-toolbar-row>
                </mat-toolbar>
            </div>
        </div>
        <div *ngIf="!adminLoged() && !userLoged()" class="col-3 menu-h">
            <button class="btn btn-success" (click)="goLogin()">{{ 'LOGIN' | translate }}</button>
        </div>
        <div *ngIf="adminLoged() || userLoged()" class="col-3 menu-h">
            <button class="btn btn-success" (click)="logOut()">{{ 'LOGOUT' | translate }}</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>