.header{
    padding: 0.5em;
    background-color: #40403A;
    margin-bottom: 3em;
}

::ng-deep .custom-toolbar {
    background-color: transparent !important;
    box-shadow: none;
  }
nav ul {
    list-style-type: none; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    margin: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    cursor: pointer;
}

nav a{
    color: white;
    cursor: pointer;
    margin: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
    :hover{
        font-weight: bold;

    }
}

img{
  max-height: 10em;
}

.menu-h{
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}