<div class="container">

    <h2>Movimientos</h2>
  

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Transacción</th>
            <th>Fecha</th>
            <th>Monto</th>
            <th>Producto Destino</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>---------------</td>
            <td>xx/xx/xxxx</td>
            <td>$ ---------</td>
            <td>
              <div class="product-line"></div>
              <div class="product-line"></div>
              <div class="product-line"></div>
            </td>
          </tr>
        </tbody>
      </table>

    <button clastype="button" (click)="goBack()">Volver</button>
  </div>
  
