<div class="container">

    <h2>{{ 'MOVEMENTS' | translate }}</h2>
  

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>{{ 'TRANSACTION' | translate }}</th>
            <th>{{ 'DATE' | translate }}</th>
            <th>{{ 'AMOUNT' | translate }}</th>
            <th>{{ 'PRODUCT DESTINATION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>---------------</td>
            <td>xx/xx/xxxx</td>
            <td>$ ---------</td>
            <td>
              <div class="product-line"></div>
              <div class="product-line"></div>
              <div class="product-line"></div>
            </td>
          </tr>
        </tbody>
      </table>

    <button clastype="button" (click)="goBack()">{{ 'BACK' | translate }}</button>
  </div>
  
