.imageHome{
    width: 100%;
    height: 70%;
    background-image:url(../../../assets/images/imageHome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-content: flex-end;
    text-align: right;
}

.imageHome>h1{
    margin: 20px;
}

.img-container{
    background-image: url(../../../assets/images/imageHome.jpg);
    width: auto;
    height: 30em;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: end;
    h1{
        padding: 1em;
    }
}

.contact-container{
    margin: 3em;
    margin-bottom: 5em;
}

.body-container{
    margin-top: 2em;
}

.other{
    font-weight: 500;
    color: #40403A;
}

footer{
    background-color: #40403A;
}

.f-title{
    color: #929292;
    font-weight: 600;
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.f-comp{
    margin-bottom: 2em;
    font-weight: 500;
    color: white;
}

.contain{
    background-color: #D9D9D9;
    align-items: center;
    justify-content: center;
    padding: 5em;
    display: flex;
    font-weight: 600;
    margin: 0.5em;
    font-size: 1.1em;
    cursor: pointer;
}

.contain:hover{
    background-color: #929292;
}