
<div class="contact-container">
  <div class="img-container">
      <div>
          <h1><b>CONOCE NUESTROS PRODUCTOS<br>Y AHORRA DE LA MEJOR MANERA</b></h1>
      </div>
  </div>
  <div class="body-container">
      <div>
          <h2><b>Conoce nuestros procesos</b></h2>
          <div class="mt-3 row text-center">
              <div class="col contain" (click)="showAlert()">Trámites Digitales</div>
              <div class="col contain" (click)="showAlert()">Centro de ayuda</div>
              <div class="col contain" (click)="showAlert()">Certificados Bancarios</div>
          </div>
      </div>
  </div>
</div>
<footer>
  <div class="row text-center">
      <div class="col-4">
          <div class="f-title">Acerca de nosotros</div>
          <div class="f-comp" (click)="goContact()">¿Quienes somos?</div>
          <div class="f-comp" (click)="goContact()">¿Qué hacemos?</div>
          <div class="f-comp" (click)="goContact()">Visión</div>
          <div class="f-comp" (click)="goContact()">Misión</div>
      </div>
      <div class="col-4">
          <div class="f-title">Contactanos</div>
          <div class="f-comp" (click)="goContact()">Sucursales</div>
          <div class="f-comp" (click)="goContact()">Entidades</div>
          <div class="f-comp" (click)="goContact()">+ 57 11111111</div>
          <div class="f-comp" (click)="goContact()">01800 111111</div>
      </div>
      <div class="col-4">
          <div class="f-title">Información Banco</div>
          <div class="f-comp">Nuestros productos</div>
          <div class="f-comp">Nuestros servicios</div>
          <div class="f-comp">Beneficios</div>
          <div class="f-comp">Trabaja con nosotros</div>
      </div>
  </div>
</footer>