.form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #1C4971;
    font-size: 50px;
  }
  
  p {
    text-align: center;
    font-size: 1rem;
    color: #666;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type='file'] {
    padding: 5px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }

  .form-buttons{
    display: flex;
    justify-content: space-between;
  }
  button[type='submit'] {
    background-color: #59A6A2;
    color: #fff;
  }
  
  button[type='button'] {
    background-color: #A65959;
    color: #fff;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  