<div class="form-container">
    <h1>{{ 'PRODUCT REQUEST' | translate }}</h1>
    <p>{{ 'SELECT PRODUCT' | translate }}</p>
    <select name="producto" class="form-select">
      <option value="Tarjeta de Crédito">{{ 'CREDIT CARD' | translate }}</option>
      <option value="Otro Producto">{{ 'OTHER PRODUCT' | translate }}</option>
    </select>
    <p>{{ 'YOUR INFORMATION' | translate }}</p>
  
    <form [formGroup]="solicitudForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-column">
          <label for="nombres">{{ 'NAMES' | translate }}</label>
          <input
            id="nombres"
            type="text"
            formControlName="nombres"
            placeholder="Ingrese sus nombres"
          />
  
          <label for="correo">{{ 'MAIL' | translate }}</label>
          <input
            id="correo"
            type="email"
            formControlName="correo"
            placeholder="ejemplo@correo.com"
          />
          
          <label for="fechaNacimiento">{{ 'DATE OF BIRTH' | translate }}</label>
          <input id="fechaNacimiento" type="date" formControlName="fechaNacimiento" />
  
          <label for="fechaExpedicion">{{ 'ISSUE DOCUMENT' | translate }}</label>
          <input id="fechaExpedicion" type="date" formControlName="fechaExpedicion" />
  
          <label for="telefono">{{ 'PHONE USER' | translate }}</label>
          <input id="telefono" type="tel" formControlName="telefono" />
  
          <label for="adjuntoId">{{ 'ATTACJ DOCUMENTCC' | translate }}</label>
          <input id="adjuntoId" type="file" formControlName="adjuntoId" />
          <p>{{ 'ONLY 1' | translate }}</p>
        </div>
  
        <div class="form-column">
          <label for="apellidos">{{ 'LASTNAMES' | translate }}:</label>
          <input
            id="apellidos"
            type="text"
            formControlName="apellidos"
            placeholder="Ingrese sus apellidos"
          />
  
          <label for="validacionCorreo">{{ 'EMAIL VALIDATION' | translate }}</label>
          <input id="validacionCorreo" type="email" formControlName="validacionCorreo" />
  
          <label for="tipoDocumento">{{ 'TYPE OF DOCUMENT' | translate }}</label>
          <select id="tipoDocumento" formControlName="tipoDocumento">
            <option value="CC">{{ 'CITIZENSHIP CARD' | translate }}</option>
            <option value="CE">{{ 'ALIEN REGISTRATION' | translate }}</option>
          </select>
  
          <label for="numeroDocumento">{{ 'DOCUMENT NUMBER' | translate }}</label>
          <input
            id="numeroDocumento"
            type="text"
            formControlName="numeroDocumento"
            placeholder="Ingrese su documento"
          />
  
          <label for="celular">{{ 'CELL_PHONE' | translate }}</label>
          <input id="celular" type="tel" formControlName="celular" />
  
          <label for="adjuntoEconomico">{{ 'ATTACJ DOCUMENT ECONOMIC' | translate }}</label>
          <input id="adjuntoEconomico" type="file" formControlName="adjuntoEconomico" multiple />
          <p>{{ 'MAX 5' | translate }}</p>
        </div>
      </div>
  
      <div class="form-buttons">
        <button type="submit" [disabled]="solicitudForm.invalid">{{ 'SUBMIT' | translate }}</button>
        <button type="button" (click)="onCancel()">{{ 'CANCEL' | translate }}</button>
      </div>
    </form>
  </div>
  