<div class="contact-container">
    <div class="img-container">
        <div>
            <h1><b>BIENVENIDO A <br> CONTACTANOS</b></h1>
        </div>
    </div>
    <div class="body-container">
        <div>
            <b>Sucursales</b>
            <div class="mt-3 row other">
                <div class="col">Centro Comercial Parque la Colina</div>
                <div class="col">Centro Comercial Centro Mayor</div>
            </div>
            <div class="row mt-3 other">
                <div class="col">Carrera 1 este # 45 - 59 sur</div>
                <div class="col">Calle 100 # 17 A 89</div>
            </div>
        </div>
        <div class="mt-5">
            <div class="row">
                <div class="col">
                    <b>Entidades</b>
                    <div class="mt-3 other">
                        <div>Inversión CENTAURO</div>
                        <div class="mt-3">CDT CENTAURO</div>
                    </div>
                </div>
                <div class="col">
                    <b>Teléfonos</b>
                    <div class="mt-3 other">
                        <div>Inversión CENTAURO</div>
                        <div class="mt-3">CDT CENTAURO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="row text-center">
        <div class="col-4">
            <div class="f-title">Acerca de nosotros</div>
            <div class="f-comp">¿Quienes somos?</div>
            <div class="f-comp">¿Qué hacemos?</div>
            <div class="f-comp">Visión</div>
            <div class="f-comp">Misión</div>
        </div>
        <div class="col-4">
            <div class="f-title">Contactanos</div>
            <div class="f-comp">Sucursales</div>
            <div class="f-comp">Entidades</div>
            <div class="f-comp">+ 57 11111111</div>
            <div class="f-comp">01800 111111</div>
        </div>
        <div class="col-4">
            <div class="f-title">Información Banco</div>
            <div class="f-comp">Nuestros productos</div>
            <div class="f-comp">Nuestros servicios</div>
            <div class="f-comp">Beneficios</div>
            <div class="f-comp">Trabaja con nosotros</div>
        </div>
    </div>
</footer>