<div class="graficas">
  <div class="pastel">
    <h1>{{ 'TOTAL CUSTOMERS' | translate }}</h1>
    <canvas id="pieChart"></canvas>
  </div>
  <div class="barras">
    <h1>{{ 'PRODUCTS MONTH' | translate }}</h1>
    <canvas id="barChartCanvas" width="400" height="300"></canvas>
    <label for="month">{{ 'SELECT MONTH' | translate }}</label>
    <select id="month" [(ngModel)]="selectedMonth" (change)="updateChartData()">
      <option *ngFor="let month of months" [value]="month">{{ month }}</option> 
    </select>
  </div>
</div>
